.page{
    display: flex;
    flex-direction: column;
}
.top-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 13px;
    position: relative;
}
.top-items{
    padding-right: 15px;
    color: rgba(0, 0, 0, 0.87);
}
.top-container img{
    height: 17px;
    width: 17px;
}
.top-container button{
    background-color: rgb(66, 133, 244);
    color: white;
    font-family: Arial, sans-serif;
    height: 30px;
    width: 69.31px;
    border: none;
    border-radius: 5%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 47px;
    height: 233px;
}
.logo img{
    padding-top: 10px;
    height: 92px;
    width: 272px;
}
.search{
    display: flex;
    flex-direction: column;
    margin: -83px;
}
.searchbox{
    display: flex;
    align-content: center;
    justify-content: center;
}
.search button{
    background-color: rgb(242, 242, 242);
    color: rgb(95, 99, 104);
    border: none;
    border-radius: 5%;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 36px;
    margin: 11px 4px 11px 4px;
    padding: 0px 16px 0px 16px;
}

